<configuration>
	<connectionStrings>
		<add name="MyDbContext"
			 connectionString="Server=tcp:127.0.0.1,1433;Initial Catalog=Libra_V3;Persist Security Info=False;User ID=sa;Password=123.mssql.321;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=Yes;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>